div.container{
	width: 950px;
	margin: 0 auto;
	padding-top: 1px;
}

nav.menu{

}

nav.menu menu{
	list-style: none;
}

nav.menu menu li{
	float: left;
	border-right: 8px solid white;
}

nav.menu li a{
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 80px;
	height: 90px;
	background-color: #01986f;
	border-radius: 0 0 5px 5px;
}